<app-header [title]="'Register'" [showBack]="true" (navBack)="navigateBack()"
  >Register</app-header
>
<ion-content>
  <form [formGroup]="regForm" (ngSubmit)="register()">
    <section *ngIf="false" class="company-details">
      <header class="ion-text-left section-header">Company Details</header>
      <ion-item>
        <ion-label position="floating">Company Name*</ion-label>
        <ion-input name="companyName" [value]="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea
          name="companyDescription"
          [value]="companyDescription"
        ></ion-textarea>
      </ion-item>
    </section>
    <section class="personal-details">
      <header class="ion-text-left section-header">Personal Details</header>
      <ion-item>
        <ion-label position="floating">First Name*</ion-label>
        <ion-input
          style="text-transform: capitalize"
          formControlName="firstname"
          [value]="firstName"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.firstname.touched || submitted) && regForm.controls.firstname.errors?.required"
        class="error"
      >
        Please enter first name
      </div>
      <ion-item>
        <ion-label position="floating">Last Name*</ion-label>
        <ion-input
          style="text-transform: capitalize"
          formControlName="lastname"
          [value]="lastName"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.lastname.touched || submitted) && regForm.controls.lastname.errors?.required"
        class="error"
      >
        Please enter last name
      </div>
      <ion-item>
        <ion-label position="floating">Cellphone Number*</ion-label>
        <ion-input
          type="tel"
          formControlName="phone"
          maxlength="10"
          [value]="cellphone"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.phone.touched || submitted) && regForm.controls.phone.errors?.required"
        class="error"
      >
        Please enter phone number
      </div>
      <div
        *ngIf="(regForm.controls.phone.touched || submitted) && regForm.controls.phone.errors?.pattern"
        class="error"
      >
        Phone number not valid
      </div>
      <ion-item>
        <ion-label position="floating">Email*</ion-label>
        <ion-input formControlName="email" [value]="email"></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.email.touched || submitted) && regForm.controls.email.errors?.required"
        class="error"
      >
        Please enter last email
      </div>
      <div
        *ngIf="(regForm.controls.email.touched || submitted) && regForm.controls.email.errors?.pattern"
        class="error"
      >
        Email format is not correct
      </div>
    </section>
  </form>
</ion-content>
<ion-footer>
  <ion-button
    color="secondary"
    (click)="goToSecurityPage()"
    expand="full"
    fill="outline"
    >Register <ion-icon slot="end" name="chevron-forward-outline"></ion-icon
  ></ion-button>
</ion-footer>
