<app-header (navBack)="navigateBack()"> </app-header>
<ion-content>
  <form [formGroup]="regForm">
    <section *ngIf="false" class="company-type">
      <header class="ion-text-left section-header">Please select</header>
      <ion-segment
        (ionChange)="handleUserType($event)"
        name="userType"
        color="danger"
        [value]="userType"
      >
        <ion-segment-button value="customer" layout="icon-end">
          <ion-icon name="heart"></ion-icon>
          <ion-label>Customer</ion-label>
        </ion-segment-button>
        <ion-segment-button value="agent" layout="icon-end">
          <ion-icon name="pin"></ion-icon>
          <ion-label>Agent</ion-label>
        </ion-segment-button>
        <ion-segment-button value="supplier" layout="icon-end">
          <ion-icon name="pin"></ion-icon>
          <ion-label>Supplier</ion-label>
        </ion-segment-button>
      </ion-segment>
    </section>
    <section *ngIf="false" class="company-details">
      <header class="ion-text-left section-header">Company Details</header>
      <ion-item>
        <ion-label position="floating">Company Name*</ion-label>
        <ion-input name="companyName" [value]="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea
          name="companyDescription"
          [value]="companyDescription"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Physical Address</ion-label>
        <ion-textarea
          name="companyAddress"
          [value]="companyAddress"
        ></ion-textarea>
      </ion-item>
    </section>
    <section class="personal-details">
      <header class="ion-text-left section-header">Personal Details</header>
      <ion-item>
        <ion-label position="floating">First Name*</ion-label>
        <ion-input formControlName="firstName" [value]="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name*</ion-label>
        <ion-input formControlName="lastName" [value]="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cellphone Number*</ion-label>
        <ion-input formControlName="cellphone" [value]="cellphone"></ion-input>
      </ion-item>
    </section>
    <section class="security-details">
      <header class="ion-text-left section-header">Security Details</header>
      <ion-item>
        <ion-label position="floating">Username*</ion-label>
        <ion-input formControlName="username" [value]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email*</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          [value]="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password*</ion-label>
        <ion-input
          type="password"
          name="password"
          formControlName="password"
          [value]="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Retype Password*</ion-label>
        <ion-input
          type="password"
          formControlName="retypePassword"
          name="retypePassword"
          [value]="retypePassword"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PIN*</ion-label>
        <ion-input type="password" name="pin" [value]="pin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Re-enter PIN*</ion-label>
        <ion-input
          type="password"
          formControlName="reenterPin"
          name="reenterPin"
          [value]="reenterPin"
        ></ion-input>
      </ion-item>
    </section>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="next()" expand="full" fill="outline"
    >Register <ion-icon slot="end" name="chevron-forward-outline"></ion-icon
  ></ion-button>
</ion-footer>
