<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="showBack" slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon color="tertiary" name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon color="tertiary" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary"> {{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
