<app-header
  [title]="'Reset Password'"
  [showBack]="true"
  (navBack)="navigateBack()"
  >Reset Password
</app-header>

<ion-content>
  <form [formGroup]="regForm">
    <section class="security-details">
      <header class="ion-text-left section-header">Security Details</header>
      <ion-item>
        <ion-label position="floating">Username*</ion-label>
        <ion-input formControlName="username" [value]="username"></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.username.touched|| submitted) && regForm.controls.username.errors?.required"
        class="error"
      >
        Please enter username
      </div>
      <div
        *ngIf="(regForm.controls.username.touched|| submitted) && regForm.controls.username.errors?.pattern"
        class="error"
      >
        Username should be alphanumeric and may include _ and -
      </div>
      <ion-item>
        <ion-label position="floating">Password*</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          [value]="password"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.password.touched || submitted)&& regForm.controls.password.errors?.required"
        class="error"
      >
        Please enter password
      </div>
      <ion-item>
        <ion-label position="floating">Retype Password*</ion-label>
        <ion-input
          type="password"
          formControlName="passwordRetype"
          [value]="passwordRetype"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(regForm.controls.passwordRetype.touched || submitted) && regForm.controls.passwordRetype.value !== regForm.controls.password.value"
        class="error"
      >
        Passwords do not match
      </div>
    </section>
  </form>
</ion-content>
<ion-footer>
  <ion-button
    color="secondary"
    (click)="resetPassword()"
    expand="full"
    fill="outline"
    >Reset Password
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon
  ></ion-button>
</ion-footer>
