<ion-header>
  <ion-toolbar>
    <ion-title>List a Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="product-details">
    <img [src]="imageData" class="product-image" />
    <header class="ion-text-left section-header">Product Details</header>
    <!-- <ion-item>
      <ion-label position="floating">Product Name*</ion-label>
      <ion-input placeholder="up to 40 characters..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Fashion</ion-select-option>
        <ion-select-option value="blonde">Vehicles</ion-select-option>
        <ion-select-option value="black">Livestock</ion-select-option>
        <ion-select-option value="red">Food</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Condition</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">New</ion-select-option>
        <ion-select-option value="brown">Like New</ion-select-option>

        <ion-select-option value="blonde">Good</ion-select-option>
        <ion-select-option value="black">Fair</ion-select-option>
        <ion-select-option value="red">Poor</ion-select-option>
      </ion-select>
    </ion-item>
  </section>
  <section class="shipping-details">
    <header class="ion-text-left section-header">Shipping Details</header>
    <div>
      <header class="ion-text-left section-header">Shipping Charges</header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Shipping included(Seller expense)</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Cash On Delivery(Paid by Buyer)</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <header class="ion-text-left section-header">Days to Ship</header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Ship in 1 - 2 days</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Ship in 2 - 3 days</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Ship in 4 - 7 days</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section class="shipping-details">
    <header class="ion-text-left section-header">Pricing</header>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Shipping included(Seller expense)</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Cash On Delivery(Paid by Buyer)</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </section>
</ion-content>
