<ion-app>
  <ion-menu
    menuId="custom"
    contentId="main-content"
    type="reveal"
    swipeGesture="false"
    class="my-custom-menu"
  >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title color="light">Tengasell</ion-title>
        <ion-button
          fill="outline"
          color="light"
          slot="end"
          (click)="closeMenu()"
        >
          <ion-icon color="light" name="menu"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="gotoHome()">
          <ion-icon
            class="menu-icon"
            slot="start"
            name="home-outline"
          ></ion-icon>
          <ion-label color="tertiary"> Home </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            class="menu-icon"
            slot="start"
            name="briefcase-outline"
          ></ion-icon>
          <ion-label color="tertiary"> Account </ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon
            class="menu-icon"
            slot="start"
            name="return-up-back-outline"
          ></ion-icon>
          <ion-label color="tertiary"> Logout </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
