.product-list-item{
    display:flex;
    flex-flow: column nowrap;
    .item-image{
    @extend.product-list-item;
    .image{

    }
    .footer{
     display: flex;
     flex-flow: row nowrap;
    }
    
    }
    .item-title{

    }
}