.actions {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    background-color: var(--ion-color-light);

    .waves-container {
        border: 0;
        margin-bottom: 0;

        .waves {
            display: block;
        }
    }
}

.inverted-waves-container {
    margin-bottom: 0;
    border: 0;

    .waves {
        transform: scaleY(-1);
        display: block;
    }
}